#banner{
position:relative;
width:990px;
height:200px;
border-style:groove;
border-width:2px;
border-color:#0000FF;
display:block;
z-index:2;
overflow:hidden;
background-color:#FFFFFF;
}
#container{
width:1000px;
}
#menu{
width:400px;
height:990px;
float:left;
display:block;
padding-top:10px;
}
#mainBody{
width:600px;
height:990px;
float:left;
display:block;
padding-top:10px;
}
#header{
margin-top:10px;
text-align:center;
width:200px;
padding-left:10px;
border-style:groove;
border-width:2px;
border-color:#0000FF;
display:block;
background-color:#99AAEE;
}
div.menuItem{
margin-top:10px;
text-align:center;
width:100px;
padding-left:10px;
border-style:groove;
border-width:2px;
border-color:#0000FF;
display:block;
background-color:#99AAEE;
}
div.bodyItem{
text-align:center;
width:580px;
height:500px;
padding-left:10px;
border-style:groove;
border-width:2px;
border-color:#0000FF;
display:block;
background-color:#FFFFFF;
}
p.Names{
position:absolute;
left:37px;
top:265px;
z-index:-1;
border-style:groove;
border-width:2px;
border-color:#0000FF;
padding-left:2px;
padding-right:2px;
}
p.Names:hover{
position:relative;
animation:pulldown 1s forwards;
-webkit-animation:pulldown 1s forwards; /* Safari and Chrome */
}
@keyframes pulldown
{
from{left:0;top:0;}
to{left:0;top:5px;}
}
@-webkit-keyframes pulldown /* Safari and Chrome */
{
from{left:0;top:0;}
to{left:0;top:5px;}
}
a.navoption{
color:#FFFFFF;
background-color:#8866DD;
position:relative;
padding-top:50px;
text-decoration:none;
border-style:groove;
border-width:2px;
border-color:#0000FF;
}
a.navoption:hover{
animation:pulldown 0.5s forwards;
-webkit-animation:pulldown 0.5s forwards; /* Safari and Chrome */
color:#000000;
}
@keyframes pulldown
{
from{left:0;top:0;}
to{left:0;top:5px;}
}
@-webkit-keyframes pulldown /* Safari and Chrome */
{
from{left:0;top:0;}
to{left:0;top:5px;}
}