#banner{
position:relative;
width:990px;
height:200px;
border-style:groove;
border-width:2px;
border-color:#0000FF;
display:block;
z-index:2;
overflow:hidden;
background-color:#FFFFFF;
}
#container{
width:1000px;
}
#menu{
position:relative;
width:375px;
height:990px;
float:left;
display:block;
padding-top:10px;
padding-right:25px;
}
#mainBody{
width:600px;
height:990px;
float:left;
display:block;
padding-top:10px;
}
#header{
margin-top:10px;
text-align:center;
width:200px;
padding-left:10px;
border-style:groove;
border-width:2px;
border-color:#0000FF;
display:block;
background-color:#99AAEE;
}
#facebookicon{
width:40px;
height:40px;
}
#twittericon{
width:40px;
height:40px;
}
div.icon{
position:relative;
width:40px;
height:40px;
margin-top:3px;
margin-left:3px;
border-style:groove;
border-width:1px;
border-color:#FFFFFF;
float:left;
}
div.icon:hover{
border-color:#0000FF;
}
#raindrop{
width:10px;
height:20px;
animation:movearrow 1s;
-webkit-animation:movearrow 1s; /* Safari and Chrome */
animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;
}
@keyframes movearrow{
0%{transform: translate(0px,0px)}
50%{transform: translate(0px,5px)}
100%{transform: translate(0px,-5px);}
}
@-webkit-keyframes movearrow/* Safari and Chrome */
{
0%{-webkit-transform: translate(0px,0px)}
50%{-webkit-transform: translate(0px,5px)}
100%{-webkit-transform: translate(0px,-5px)}
}
div.menuItem{
margin-top:10px;
text-align:center;
width:100px;
padding-left:10px;
border-style:groove;
border-width:2px;
border-color:#0000FF;
display:block;
background-color:#99AAEE;
}
div.bodyItem{
width:580px;
padding-left:10px;
padding-bottom:5px;
border-style:groove;
border-width:2px;
border-color:#0000FF;
display:block;
background-color:#FFFFFF;
}
div.post{
position:relative;
margin-top:5px;
margin-right:5px;
margin-left:-5px;
border-style:groove;
border-width:2px;
border-color:#0000FF;
}
p.postBody{
margin-left:3px;
word-wrap:break-word;
}
p.date{
margin-left:3px;
margin-right:50px;
border-bottom:1px solid #000000;
}
p.Names{
position:absolute;
left:37px;
top:265px;
z-index:-1;
border-style:groove;
border-width:2px;
border-color:#0000FF;
padding-left:2px;
padding-right:2px;
}
p.Names:hover{
position:relative;
animation:pulldown 1s forwards;
-webkit-animation:pulldown 1s forwards; /* Safari and Chrome */
}
@keyframes pulldown
{
from{left:0;top:0;}
to{left:0;top:5px;}
}
@-webkit-keyframes pulldown /* Safari and Chrome */
{
from{left:0;top:0;}
to{left:0;top:5px;}
}
a.navoption{
color:#000000;
background-color:#99AAEE;
position:relative;
padding-top:50px;
text-decoration:none;
border-style:groove;
border-width:2px;
border-color:#0000FF;
}
a.navoption:hover{
animation:pulldown 0.5s forwards;
-webkit-animation:pulldown 0.5s forwards; /* Safari and Chrome */
color:#FFFFFF;
}
@keyframes pulldown
{
from{left:0;top:0;}
to{left:0;top:5px;}
}
@-webkit-keyframes pulldown /* Safari and Chrome */
{
from{left:0;top:0;}
to{left:0;top:5px;}
}