
.grid {
	list-style: none;
	padding: 0 0 0 0;
	margin: 0;
}

.grid:before, 
.grid:after 
{ 
	content: " "; 
	display: table; 
}

.grid:after 
{ 
	clear: both; 
}

/* grid item */
.grid li {
	width: 33%;
	float: left;
	height: 400px;
	text-align: center;
	border-top: 1px solid #ddd;
}

.grid li:nth-child(-n+3)
{
	border-top: none;
}

.grid li:nth-child(3n-1),
.grid li:nth-child(3n-2) 
{
	box-shadow: 1px 0 0 #ddd;
}

.grid li > a {
	display: block;
	height: 100%;
	color: #47a3da;
	-webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
}

.grid .title {
	margin: 0 0 10px 0;
	padding: 180px 0 0 0;
	font-size: 2em;
	position: relative;
	-webkit-transition: -webkit-transform 0.2s;
	-moz-transition: -moz-transform 0.2s;
	transition: transform 0.2s;
}

.grid .title:before {
	content: '';
	position: absolute;
	background: #47a3da;
	width: 160px;
	height: 6px;
	top: 0px;
	left: 50%;
	margin: 160px 0 0 -80px;
	-webkit-transition: margin-top 0.2s; 
	-moz-transition: margin-top 0.2s;
	transition: margin-top 0.2s;
}

.grid .cbp-ig-text {
	display: inline-block;
	font-size: 14px;
	text-align: left;
	letter-spacing: 1px;
	color: #fff;
	-webkit-transform: translateY(20px);
	-moz-transform: -moz-translateY(20px);
	-ms-transform: -ms-translateY(20px);
	transform: translateY(20px);
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	-webkit-transition: transform 0.3s, opacity 0.2s;
}

.grid li:hover .cbp-ig-text,
.touch .grid li .cbp-ig-text
 {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

/* Hover styles */

.grid li > a:hover 
{
	background: #47a3da;
	
}

.grid li > a:hover .title 
{
    color: #A9E2F3;
	padding: 100px 0 0 0;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px)
}

.grid li > a:hover .sub
{
    color: rgba(255, 255, 255, 0.0);
}

.grid li > a:hover .title:before 
{
    background: #A9E2F3;
    margin-top: 150px;
}









